<div *ngIf="employee" class="container">
  <div class="row">
    <div class="col-lg-12 detail">
        <h2>{{ employee.name | uppercase }}</h2>
        <ul class="data">
          <li><span>ID &nbsp; &nbsp; &nbsp; &nbsp;: </span>{{employee.id}}</li>
          <li><span>Name &nbsp;: </span>{{employee.name}}</li>
          <li><span>Email &nbsp; : </span>{{employee.email}}</li>
        </ul>
        <div>
          <label>Name&nbsp;
            <input class="form-control" [(ngModel)]="employee.name" placeholder="name"/>
          </label>
        </div>
        <div>
          <label>Email &nbsp;
            <input class="form-control" type="email" [(ngModel)]="employee.email" placeholder="email"/>
          </label>
        </div>
        <div>
          <button (click)="goBack()" class="btn btn-success">Back</button>
        </div>
    </div>
  </div>
</div>